body {
  background-color: rgb(220, 255, 255);
  position: relative; /* Required for positioning pseudo-element */
}

body::before {
  content: "";
  background-image: url('lizard.jpg');
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element below the content */
}

h1, h2, h3 {
  color: navy;
  margin-left: 10px; /* Adjust the margin as needed */
}

